.logo {
    height: 150px;
}
.hero-logo-text {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    justify-content: start; 
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px 150px;
    flex-direction: column;
}
.header-links {
    list-style-type: none;
    display: flex;
    flex : 1;
    justify-content: right;
    gap: 25px;
    font-size: 18px;
}
.header-links li a {
    text-decoration: none;
    color: #e5e7eb;
}
.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-main-text{
    color: #f9faf8;
}
.button {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
}
